.Hotel-Header {
	display: flex;
	align-items: center;
}

.Hotel-Content {
	display: flex;
	justify-content: center;
}

.Hotel-Card {
	width: 60%;
}

.Hotel-Breadcrumb {
	display: flex;
	justify-content: left;
	align-items: center;
}

.Hotel-Breadcrumb a.Hotel-Home {
	color: white;
}

.Hotel-Star {
	font-size: 20px;
}

.Hotel-Star > span {
	margin-left: 5px;
}
